.font-squada {
    font-family: 'Squada One', cursive;
}

.font-paytone {
    font-family: 'Paytone One', sans-serif;
}

.py-38 {
    padding-top: 38px;
    padding-bottom: 38px;
}

.bg-light-85 {
    background-color: rgba($color: #fff, $alpha: 0.85);
}

.text-vertical {
    writing-mode: vertical-lr;
}

.img-top {
    object-position: center top;
}

.card-border-bottom {
    border-bottom: 2px solid $dark;
}

.position-unset {
    position: unset;
}