.btn-more {
    padding: 8px 48px;
    border: 1px solid $dark;
    font-size: 18px;
    font-family: 'Squada One', cursive;
    line-height: 1;
    position: relative;
    transition: all .15s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 16px 16px;
        border-color: transparent transparent $primary transparent;
        bottom: 0;
        right: 0;
    }

    &:hover {
        background-color: $primary;
        color: $light;

        &::after {
            border-color: transparent transparent $dark transparent;
        }
    }
}

.btn-more-light {
    background-color: $light;
    color: $dark;

    &:hover {
        background-color: $primary;
        color: $light;
    }
}